@import "@/assets/_var.scss";
.resume{
    padding: 5.2vw 0;
    .resume-container{
        position:relative;
        background-color: $white;
        width: 62.5vw;
        border-radius:0.73vw;
        margin:0 auto;
        .resume-header{
            height: 3.6vw;
            border-bottom:0.5px solid $dark-gray;
            .resume-header-text{
                line-height: 3.6vw;
                margin-left:3.1vw;
                font-size:1.25vw;
            }
        }
       
        form{
            margin-top:3.1vw;
            display: flex;
            flex-wrap: wrap;
            font-size:1vw;
            .ant-form-item:not(:last-child){
                .ant-form-item-control{
                    width: 16.6vw;
                    height: 2.5vw;
                }
            }
            .ant-form-item{
                margin:0 3.1vw 2vw 2vw;
                .ant-input{
                    border-radius: 0;
                }
                label{
                    font-size:1vw;
                    color:$near-black;
                }
                textarea{
                    width: 38.5vw!important;
                    height: 5.2vw!important;
                    resize:none
                }
                .ant-select-selector{
                    border-radius: 0;
                }
                
                
            }
            
        }
        .resume-right{
           
            .resume-addResume{
                position:absolute;
                top:6.7vw;
                right:2vw;    
                margin-top: 2.4vw;
                .ant-upload{
                    width:5.2vw;
                    height: 5.2vw;
                    margin:0 auto;
                    border:1px solid #D5D5D5;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    img{
                        width:1.7vw;
                        height: 1.7vw;
                    }
                    cursor: pointer;
                }
                .addResume-text{
                    text-align: center;
                    font-size: 1vw;
                    color:$near-black;
                }
                .text-remark{
                    text-align: center;
                    color:#999999;
                    font-size: 0.8vw;
                }
            }
            .ant-btn{
                font-size: 1vw;
                position: absolute;
                bottom:3.1vw;
                right: 2vw;
                width: 11vw;
                height: 2.6vw;
                min-height: 25px;
                background-color: #0080FF;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
}