.exist{
    width: 100%;
    padding-top:10vw;
    .exist-icon{
        margin:0 auto;
        width: 20vw;
        img{
            height: 20vw;
        }
    }
    .exist-text{
        margin:4vw auto; 
        width: 50vw;
        text-align: center;
        font-size: 4vw;
        color:#0080FF;
    }
}